@media (max-width: 1350px){
    .progress {
        width: 60px !important;
        height: 60px !important;
        font-size: 13px !important;
        margin: 3px;
    }
    .navbar{
        background: #000;
    }
}
